* {margin: 0; padding: 0;}
ul {list-style:none;}
a {text-decoration:none;}
html,body{max-width:100%;height: 100%;}
body {font-family: "NanumGothic-Regular", sans-serif; }
h1, strong {font-weight: normal; font-family: "NanumGothic-Bold", sans-serif;}
/*body::-webkit-scrollbar {display:none;}*/
.wrapper {position:relative;width:100%;height:100%;-ms-overflow-style:none;overflow:-moz-scrollbars-none;}


.header {z-index:10;position:absolute;margin-top:30px;width:100%;height:100px;}
.menu {position:fixed;top:38px;left:30px;}
.menu-btn {width:36px;cursor:pointer;}
.menu-btn span {display:block;margin-top:8px;width:100%;height:2px;background-color: #fff;}
.menu-btn span:first-child {margin-top: 0;}
.menu-btn span.middle {width:80%;}
.menu-btn span.bottom {width:60%;}

.gnb {display:none;margin-top:20px;}
.gnb.on {display:block;}
.gnb a {display:block;margin-top:10px;font-size:25px;color:#fff;letter-spacing:7px;}
.gnb a::after {display:block;content:" ";width:0%;height:2px;background-color: #fff;-webkit-transition:width 0.3s ease;-o-transition:width 0.3s ease;transition:width 0.3s ease;}
.gnb a.on::after {width:100%;}
.gnb visited {color:#fff;}

.logo {margin:0 auto;width:300px;text-align:center;}
.logo h1 a {font-weight:700;color:#fff;}
.logo h1 a:visited {color:#fff;}
.logo h1 a span {display:block;font-size:35px;letter-spacing:9px;}
.logo h1 a span:last-child {font-size:13px;font-weight:500;}

.about {width:100%;height:100%;}
.about .top {position:relative;width: 100%;height:80%;background: url('../images/bg_2.jpg') no-repeat center center; -webkit-background-size: cover;background-size: cover;}
.about .top .filter {z-index:5;position:absolute;display:block;top:0;left:0;width:100%;height:100%;font-size:0;vertical-align:top;background:rgba(0,0,0,0.2);}
.about .bottom {display:table;width:100%;height:20%;}
.about .bottom .text {display:table-cell;padding:5%;font-size:45px;font-weight:600;letter-spacing: 6px;vertical-align:middle;}

.works {border:1px red solid;}

.contact {height:100%;}
